.base{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--ion-background-color);
}

.backArrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.title{
    font-weight: bold;
    font-size: 32px;
    margin-left: 25px;
    color: var(--ion-text-color);
}

.ticketsList{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.content{
    padding-bottom: 15px;
    height: 100%;
}

.buyButton{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.comprarBilhete{
    margin-left: 3px;
}